 h1{color: black; font-size: 50px; text-transform: uppercase; background-color: aquamarine}
            h2{color: azure;background-color: darkslateblue; text-transform: inherit; font-size: 50}
            p{color: black; font-size:24px}
            li{color: black; font-size:16px; text-}
            .mistake{color: red;}